<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>TabView demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<script type="text/javascript" src="../../../apps/core_dom_retouched.js"></script>
<script type="text/javascript" src="../tabview.js"></script>

<link media="screen" type="text/css" rel="stylesheet" href="http://co.youa.baidu.com/picture/r/mall/hp090617/hp100304.css?v2.css">

<script type="text/javascript">//<![CDATA[
var G = QW.$;
//]]></script>
</head>
<body>

<div style="width:190px;text-align:left;">
	<div class="mod hslice entry-content" id="recommend">
		<span class="x1"><span class="x1a"></span></span>
		<div class="mod-content">
			<div class="hd">
				<span class="act"></span>						
				<h3 class="entry-title">有啊推荐</h3>
			</div>
			<div class="bd">
				<ul class="cls">
					<li class="first selected"><span class="num">1</span><a target="_blank" href="http://youa.baidu.com/item/04230be136f21e5383ea9a0f?n=1"><img width="60" height="60" src="http://img.mall.baidu.com/cccccc/sabpic/item/be22fe1a2de09827965dd7e1.jpg">买25送25，最后100...</a></li>
					<li><span class="num">2</span><a target="_blank" href="http://youa.baidu.com/item/400cf90e5b15e8f85940b8bf?n=1">经典时尚帆布鞋</a></li>
					<li><span class="num">3</span><a target="_blank" href="http://youa.baidu.com/item/10d86f0a52d80bec0c06f3b8?n=1">忆草 祛印平疤活肤...</a></li>
					<li><span class="num">4</span><a target="_blank" href="http://youa.baidu.com/item/8d3feeeeb714130beb13c4b6?n=1">双层高领两件套打底...</a></li>
					<li><span class="num">5</span><a target="_blank" href="http://youa.baidu.com/item/d12f854cf7b2c9ec955e2e7b?n=1">韩版头饰 璀璨亮片...</a></li>
					<li><span class="num">6</span><a target="_blank" href="http://youa.baidu.com/item/f19e8e0d1c9457fd3e427f9b?n=1">篮球护腕 五件包邮</a></li>
					<li><span class="num">7</span><a target="_blank" href="http://youa.baidu.com/item/82307628f9c3c26b723fe971?n=1">买就送 时尚品牌女...</a></li>
					<li><span class="num">8</span><a target="_blank" href="http://youa.baidu.com/item/207ac86ecd68f05faed4d254?n=1">多功能旅游野营指南...</a></li>
					<li><span class="num">9</span><a target="_blank" href="http://youa.baidu.com/item/fc291703d75d5f7494c5c8da?n=1">Polo女装翻领T恤</a></li>
					<li><span class="num">10</span><a target="_blank" href="http://youa.baidu.com/item/854c10cb0fce3f59c8d129d7?n=1">云南民族饰品 苗银...</a></li>
				</ul>
			</div>
			<div class="ft"></div>
		</div>
		<span class="x2"><span class="x2a"></span></span>
	</div>
</div>

<script type="text/javascript">//<![CDATA[
void function () {
	var recommendImgs = ["http://img.mall.baidu.com/cccccc/sabpic/item/be22fe1a2de09827965dd7e1.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/780bd8075a6a4ee23ee83f3f.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/bdd930fa931fdd3b23aa6516.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/f4ae491655de98efda61c157.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/73d846ad031933f7d02f22de.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/f4e91b361784b8e60ad1674c.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/501350183fd611337728ece3.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/c2e4500c2fe4d9cfc728fcf0.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/acae70a1b3e1c3106401365b.jpg","http://img.mall.baidu.com/cccccc/sabpic/item/31562f2cea69dfff04ed2472.jpg"];

	var tabView = new QW.TabView({"TAB_DEACTIVATE_CN":"","TAB_ACTIVATE_CN":"selected","events":["mouseover"],"preventDefault":true});
	var tabnodes4 = G("recommend").getElementsByTagName("li");
	
	for (var i = 0 ; i < tabnodes4.length ; ++ i) {
		tabView.addTab({ tabNode : tabnodes4[i], contentNode : null});
	}

	tabView.onactivate = function (e) {
		var D = e.currentGroup, A = e.index, C = D.tabNode;
		if(C.getElementsByTagName("img").length < 1){
			var B = C.getElementsByTagName("a")[0];
			B.innerHTML = '<img src="' + recommendImgs[A].replace('c/s','c/t') + '" width="60" height="60">' + B.innerHTML;
		}
	};
}();
//]]></script>

<div style="width:750px;text-align:left;">
	<div id="pasale">
		<ul class="bbp-nav cls">
			<li class="first selected"><a href="javascript:void(0)">热卖推荐</a></li>
			<li class=""><a href="javascript:void(0)">名品特价</a></li>
			<li class=""><a href="javascript:void(0)">24小时折扣区</a></li>
			<li class=""><a href="javascript:void(0)">晒稀奇</a><span>new</span></li>
		</ul>
		<div class="bbp-content">
			<div class="selected">
				<ul class="cls">
					<li class="first"><a href="http://youa.baidu.com/item/c86e2dcfb53188d377bcdd8b?n=1&amp;at=833" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-23/ca3af42f6ab1706a70bb07d32675ddc1.jpg">微购时尚内裤<br><strong>特价1.01元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/22b17b39be837de49a29bd59?n=1&amp;at=832" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-22/7ac865e6d523cb97266c9c2f09f45282.jpg">我的绯闻女友包包<br><strong>特价35元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/2bfcb57d933b802d42013a84?n=1&amp;at=835" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-12/fdf9a9167dea02b00b95cebd5155fd64.jpg">桃皮绒印花四件套<br><strong>特价38元包快递</strong></a> <span>5折</span> </li>
					<li><a href="http://youa.baidu.com/item/18e05d270dc22972c86ed15c?n=1&amp;at=831" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-23/297b5be89d8125067d28d00b4bb4e50e.jpg">超人气铆钉单肩包<br><strong>特价35元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/2f1dc856b2357d8a4ce08419?n=1&amp;at=834" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-09/6d8ac20f87c638b2874ef9fbdde4ac8b.jpg">卡西欧手表<br><strong>299元</strong></a> </li>
					<li class="last"><a href="http://youa.baidu.com/item/04230be136f21e5383ea9a0f?n=1&amp;at=830" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-22/6e70b9f987dfba1a95cd3fd37ca72127.jpg">十孔枕芯全国包邮<br><strong>25元买一送一</strong></a><span>3折</span></li>
				</ul>
				<p>
					<a href="http://youa.baidu.com/shop/2dcf3758091e75bc1412dc31" target="_blank">[特惠]百武西 2010新年巨献 三折还有礼！</a>
					<a href="http://youa.baidu.com/shop/0b2a8376d4f65c6b2114923b" target="_blank">[促销]时尚创意家居，每天有礼送不停！</a>
				</p>
			</div>

			<div class="unselected">
				<ul class="cls">
					<li class="first"><a href="http://youa.baidu.com/item/a60acd3618c39b3386f42394?n=1&amp;at=882" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-26/0670371daf994aa8d85cadcd564e89bf.jpg">专柜正品联保CASIO<br><strong>红色漆皮女表98元</strong></a><span>3折</span></li>
					<li><a href="http://youa.baidu.com/item/023586f4285de54b10cb2c81?n=1&amp;at=878" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-26/3bed6f7293d1c2b419868697befc22cc.jpg">聚点翻转独家正品<br><strong>歌迷T恤79元限量</strong></a></li>
					<li><a href="http://youa.baidu.com/item/de18e61948bc05052c233d37?n=1&amp;at=879" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-20/97bafb2ab760e866bdfde294a93f3dee.jpg">兰缪美背前扣文胸<br><strong>129元赠同款底裤</strong></a></li>
					<li><a href="http://youa.baidu.com/item/54fd594014dbde06a463a5cf?n=1&amp;at=880" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-12/ef5a887ba4e55c20171088a3c35f7c60.jpg">CASIO指针男表<br><strong>全网最低价199元</strong></a><span>4折</span></li>
					<li><a href="http://youa.baidu.com/item/04230be1700f585083ea9ae3?n=1&amp;at=883" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-18/6678ad4ed0ebe6e01dc280c262fcc2cc.jpg">喜羊羊与灰太狼<br><strong>虎虎生威福袋228元</strong></a><span>4折</span></li>
					<li class="last"><a href="http://youa.baidu.com/item/7b3901191cf9fb2e400cbce7?n=1&amp;at=879" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-25/486afd14a241089545bdf0e56b5ce587.jpg">美国原装GNC左旋肉碱<br><strong>脂肪燃烧只要228元</strong></a></li>
				</ul>
				<p>
					<a href="http://youa.baidu.com/shop/62328fd16e55303d223945ee" target="_blank">[秒杀]2010春季爆款牛仔裤69元包邮！有啊独享！</a>
					<a href="http://youa.baidu.com/Beautyloft" target="_blank">[美容]2010年最热美容单品包邮特卖！</a>
				</p>
			</div>

			<div class="unselected">
				<ul class="cls">
					<li class="first"><a href="http://youa.baidu.com/item/823141a4d8371a0555190ee5?n=1" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-23/a1468e36cb4ee6eb7d9d84409d677faf.jpg">黑莓GPS导航手机<br><strong>热卖价880元</strong></a><span>6折</span></li>
					<li><a href="http://youa.baidu.com/item/c8d12dbc959699e3fdfc155a?n=1" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-02/e5d048b3ee47f2df776df73578454d51.jpg">迷你笔记本散热器<br><strong>热卖9.99元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/a808f4ea59af4139fc29cca7?n=1" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-01/06617e3f81eb29ccae1e31a91d873e26.jpg">卡尔波无线鼠标<br><strong>包邮49元</strong></a><span>7折</span></li>
					<li><a href="http://youa.baidu.com/item/b8405614ab491739eeeedba6?n=1" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-02-02/9c77a996304a33070b156cb78f6bf00b.jpg">雷柏无线键鼠套装<br><strong>包邮88元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/b2755c2683d0180b70cc7dae?n=1" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-02-02/3c2f793d2b3bc332c2230e50d9ca108a.jpg">联想原装商务电脑包<br><strong>包邮35元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/d79323e1fcfdf70ccde3f1d7?n=1" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-05/f6c3d79b002762d6c0dc0836a49cdea6.jpg">USB迷你2.0小音箱<br><strong>包邮29元</strong></a><span>5折</span></li>
				</ul>
				<p>
					<a href="http://youa.baidu.com/shop/2dcf3758091e75bc1412dc31" target="_blank">[特惠]百武西 2010新年巨献 三折还有礼！</a>
					<a href="http://youa.baidu.com/shop/0b2a8376d4f65c6b2114923b" target="_blank">[促销]时尚创意家居，每天有礼送不停！</a>
				</p>
			</div>

			<div class="unselected">
				<ul class="cls">
					<li class="first"><a href="http://youa.baidu.com/item/8eef3822ef1c0c7842481e08?n=1&amp;at=841" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-04-12/05991cce9e5dc195be5e2ca471c552bc.jpg">美臀调整坐垫<br><strong>特价15.00元</strong></a> <span>6折</span> </li>
					<li><a href="http://youa.baidu.com/item/6410de39fa65899623e1f48c?n=1&amp;at=837" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-02-08/1a4f1e82acd5e779ac3b2aa16554142b.jpg">旋转感应炫彩四面钟<br><strong>特价1.8元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/70ccc9fae5113c3e378b79a0?n=1&amp;at=840" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-26/e3bbdc4448120bd03734ed1e7033dd58.jpg">喜庆泰迪熊套装<br><strong>一对39元</strong></a></li>
					<li><a href="http://youa.baidu.com/item/83eabd892d23695c84248633?n=1&amp;at=839" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-03/44ae510edaa2894e62da9b5dae2b6eef.jpg">小蘑菇拍拍灯<br><strong>秒杀价1.01元</strong></a> <span>2折</span> </li>
					<li><a href="http://youa.baidu.com/item/450eb0a8a646b3b47b39b045?n=1&amp;at=836" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-01-13/b9d2858b6b5ece87202de258e380d6fb.jpg">大海豚按摩器(包邮)<br><strong>送长辈48元</strong></a> <em>5折</em> </li>
					<li class="last"><a href="http://youa.baidu.com/item/f836c4e9cf62d67472e00505?n=1&amp;at=838" target="_blank"><img width="100" height="100" src="http://co.youa.baidu.com/picture/r/image/2010-03-26/7a57752d371a4e7016733df1dcda2834.jpg">心愿漂流瓶<br><strong>特价5元</strong></a> </li>
				</ul>
				<p>
					<a href="http://youa.baidu.com/shop/2dcf3758091e75bc1412dc31" target="_blank">[特惠]百武西 2010新年巨献 三折还有礼！</a>
					<a href="http://youa.baidu.com/shop/0b2a8376d4f65c6b2114923b" target="_blank">[促销]时尚创意家居，每天有礼送不停！</a>
				</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">//<![CDATA[
void function () {
	var tabView = new QW.TabView(G('pasale'), { "preventDefault" : true });
}();
//]]></script>
</body>
</html>