<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Rank's HTML document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="Pragma" content="no-cache" />  
    <meta http-equiv="Cache-Control" content="no-cache" />     
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="ImageToolbar" content="no" />
	<link href="../../../apps/assets/base.css" rel="stylesheet" type="text/css" media="screen">
	<link href="assets/panel.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="../../../apps/core_dom_retouched.js"></script>
		<script type="text/javascript" src="../panel.js"></script>

  </head>
  <body style="height:300px">

		<div id="doc2" style="height:1000px">

			<div class="header">
				<h1>container demostrates</h1>
				<hr/>
				compatibility: ie6,ie7,ie8, firefox1.5, opera9,safari3
			</div>

			<h3>Layerpopup</h3>
			<div class="demo-panel">
				<input type="button" onclick="popup.show(30,30,null,null,this);" value="show popup" class="button"/>
				
				<input type="button" onclick="popup.hide()" value="hide popup" class="button"/>
				<br/><select size=3 style="width:200px"><option><option><option></select>
			</div>


			<h3>Dialog</h3>
			<div class="demo-panel">
				<input type="button" onclick="dlg.show();" value="show dialog" class="button"/>
				<input type="button" onclick="dlg.hide();" value="hide dialog" class="button"/>
			</div>

			<h3>Alert</h3>

		</div>
    <script type="text/javascript">
    //<![CDATA[

var popup = new QW.LayerPopup({
	close: true,
	className: 'panel-t2 panel-t2-tl',
	cue: false,
	corner: false,
	footer: false,
	caption: 'popup header',
	content: 'popup content here'
});

var dlg = new QW.Dialog({ modal : false });




window.onload = function () {

	var alt = QW.MessageBox.alert({
		caption:'Alert',
		content:'你确定要删除此条记录吗？',
		onclose: function() {
			alert('callback');
		}
	});
	alt.show();

	new QW.MessageBox({ 
		caption: '恭喜您，操作成功',
		content: '如果您的浏览器3秒内没有自动跳转，请点击这里',
		icon: QW.MB_ICON.FAILURE,
		buttons: [QW.MB_BUTTON.YES, QW.MB_BUTTON.IGNORE, QW.MB_BUTTON.NO],
		focusButton: QW.MB_BUTTON.YES,
		modal: true,
		onclose: function(evt) {
			alert(evt.retVal);
			return true;
		}
	});
}
    //]]>
    </script>
  </body>
</html>