<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Rank's HTML document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="Pragma" content="no-cache" />  
    <meta http-equiv="Cache-Control" content="no-cache" />     
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="ImageToolbar" content="no" />
	<link href="../../../apps/assets/base.css" rel="stylesheet" type="text/css" media="screen">
	<link href="assets/panel.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="../../../apps/core_dom_retouched.js"></script>
		<script type="text/javascript" src="../../dragdrop/dragdrop.js"></script>
		<script type="text/javascript" src="../panel.js"></script>
		<style>
		.drag-proxy { position:absolute; border:2px dashed #ccc; display:none; z-index:9999999; }
		.proxy-dragging { display:block; }
		</style>
  </head>
  <body>
		<div id="doc2">
			this is test opacity
			<!-- 评价须知 -->
			<div class="panel panel-t1" style="width:300px;display:none;" id="renderDemo">
				
				<div class="panel-content">
					<div class="hd">
						<h3>评价须知</h3>
					</div>
					<div class="bd">
						
						<!-- content -->
						<style>
						.panel-temp-0806285482 {color:#666;margin:1em;}
						.panel-temp-0806285482 li {list-style:decimal;margin:0 0 .5em 2em;}
						</style>
						<div class="panel-temp-0806285482">
							<input>
							<ol>
								<li>评价选中中评或差评，但评论为空。</li>
								<li>所提交评论内容超过限制...</li>
								<li>差评（中评）的评论不能为空。</li>
								<li>评论最多不能超过500字。</li>
							</ol>
						</div>
						<!-- //content -->

					</div>
					<div class="ft"></div>
				</div>

				<span class="co1"><span></span></span>
				<span class="co2"><span></span></span>
				<span class="cue"></span>
				<span class="sd"></span>
				<span class="close"></span>
				<span class="resize"></span>

			</div>
			<!-- //评价须知 -->
		</div>
    <script type="text/javascript">
    //<![CDATA[
			window.onload = function () {
				var render_dlg = new QW.Dialog(QW.$('renderDemo'));
				//render_dlg.shadow = false;
				//QW.Dom.removeNode(render_dlg._shadow);
				render_dlg.show();
			}
    //]]>
    </script>
  </body>
</html>