<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<title>验证Valid ----初级使用</title>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<link href="../../../apps/assets/base.css" rel="stylesheet" type="text/css" media="screen"/>

	<script type="text/javascript" src="../calendar-solo.js"></script>
</head>
<body>
<div id=doc3>
	<div id=hd style="margin:10px;font-size:18px;">
		Calendar
	</div>
	<div id="bd" >
		<input ><input type=button value='日历' onclick="QWCalendar.getDateFromPopup(this.previousSibling)"/>
	</div>

	<div id="ft">
		QW 
	</div>

</div>
</body>


</html>