<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Suggest demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
	<script type="text/javascript" src="../../../apps/core_dom_youa.js"></script>
	<script type="text/javascript" src="../../panel/panel.js"></script>
	<script type="text/javascript" src="../suggest.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css" media="screen">
	<meta http-equiv="X-UA-Compatible" content="IE=7" >
</head>
<style>
	.gm-master2 .gm-master-search{margin:10px}
	.panel-suggest {zoom:1;width:350px;margin:-1px 0 0 0;_overflow-y:hidden;border:1px solid #5ba515;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);}
	.panel-suggest .item {cursor:pointer;_cursor:hand;text-align:left;background:#fff;padding:3px 0;position:relative}
	.panel-suggest .item b {background:url(std.ico.gif) center right no-repeat;padding-right:10px}
	.panel-suggest .selected {background:#Efffc5;border:1px solid #8cd838;border-width: 1px 0;-moz-box-shadow:0 0 1px rgba(0,0,0,0.2);margin:-1px 0;z-index:10;-moz-text-shadow:0 1px 2px rgba(0,0,0,0.3);background:#e0f0bb -moz-linear-gradient(center top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 49%, rgba(255,255,255,0.0) 51%, rgba(255,255,255,0));}
	.panel-suggest .item .key {color:#525252;padding:3px;padding-left:10px;font-size:14px;}
	.panel-suggest .selected .key {color:#000;padding:3px;padding-left:10px;font-size:14px;}
	.panel-suggest .item .val {color:#999;padding-right:7px;font-size:12px;float:right}
	.multikey{background:#Efffc5;border:1px solid #57ba00;-moz-box-shadow:0 0 1px rgba(0,0,0,0.2);z-index:10;-moz-text-shadow:0 1px 2px rgba(0,0,0,0.3);background:#def98f -moz-linear-gradient(center top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 49%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0));font-size:14px;height:24px;display:inline-block;margin:3px 0 0 3px;padding:0 5px;float:left;color:#686;-moz-border-radius:2px;line-height:24px;}
	.gm-master-inp{-moz-border-radius-topleft: 2px;-moz-border-radius-bottomleft: 2px;}

</style>
<body>
<div id="s-con" class="gm-master2">
	<div class="gm-master-search">
		<form action="http://youa.baidu.com/search/s" method="get" id="ubw">
			<fieldset>
				<legend>百度一下</legend>
				<input type="hidden" name="search_domain" value="1">
				<input type="hidden" name="category" value="0">
				<div class="gm-master-inp" id="sug-rel">
					<input autocomplete="off" results="8" autosave="baidu" accesskey="s" name="keyword" size="24" class="focus" id="searchTextbox" value="献给2015的萝莉们">
				</div>
				<button type="submit" id="gm_act_sbtn">-找萝莉-</button>
			</fieldset>
		</form>
	</div>
	<div class="gm-master-search">
		<form action="http://youa.baidu.com/search/s" method="get" id="ubw">
			<fieldset>
				<legend>百度一下</legend>
				<input type="hidden" name="search_domain" value="1">
				<input type="hidden" name="category" value="0">
				<div class="gm-master-inp" id="sug-rel2">
					<input autocomplete="off" results="8" autosave="baidu" accesskey="s" name="keyword" size="24" class="focus" id="searchTextbox2" value="献给2015的萝莉们">
				</div>
				<button type="submit" id="gm_act_sbtn2">-找萝莉-</button>
			</fieldset>
		</form>
	</div>
	<div class="gm-master-search">
		<form action="http://youa.baidu.com/search/s" method="get" id="ubw">
			<fieldset>
				<legend>百度一下</legend>
				<input type="hidden" name="search_domain" value="1">
				<input type="hidden" name="category" value="0">
				<div class="gm-master-inp" id="sug-rel3">
					<input autocomplete="off" results="8" autosave="baidu" accesskey="s" name="keyword" size="24" class="focus" id="searchTextbox3" value="中间页产品Suggest测试">
				</div>
				<button type="submit" id="gm_act_sbtn3">-找中间页-</button>
			</fieldset>
		</form>
		<div id="ubbb">sdadasd</div>
	</div>
</div>
</body>
<script type="text/javascript">
//<![CDATA[
	W('#searchTextbox').on('focus', function(e){
		if (e.target.value == "献给2015的萝莉们") {
			e.target.value = "";
		}
	}).on('blur', function(e){
		if (e.target.value == "") {
			e.target.value = "献给2015的萝莉们";
		}
	});
	W('#searchTextbox2').on('focus', function(e){
		if (e.target.value == "献给2015的萝莉们") {
			e.target.value = "";
		}
	}).on('blur', function(e){
		if (e.target.value == "") {
			e.target.value = "献给2015的萝莉们";
		}
	});
	W('#searchTextbox3').on('focus', function(e){
		if (e.target.value == "中间页产品Suggest测试") {
			e.target.value = "";
		}
	}).on('blur', function(e){
		if (e.target.value == "") {
			e.target.value = "中间页产品Suggest测试";
		}
	});

	/*
	var sug = new QW.Suggest({
		textbox: '#searchTextbox',
		dataUrl: "http://youa.baidu.com/suggest/se/s?cmd=suggest&type=kwd&charset=utf-8&category=0",
		uiHighlighter: function(oEl) {
			var elKeyEl = QW.$$(oEl).query('.key').core[0];
			var sHtml = elKeyEl.innerHTML;
			elKeyEl.innerHTML = sHtml.replace(sug.getKeyword(), '<em style="color:#d06000;font-weight:bold">' + sug.getKeyword() + '</em>')
		},
		uiItemNumber: 10
	});
	*/
	var sug = new QW.Suggest({
		textbox: '#searchTextbox',
		dataUrl: "http://youa.baidu.com/suggest/se/s?cmd=suggest&type=kwd&charset=utf-8&category=0",
		uiHighlighter: function(oEl) {
			var elKeyEl = QW.$$(oEl).query('.key').core[0];
			var sHtml = elKeyEl.innerHTML;
			elKeyEl.innerHTML = sHtml.replace(sug.getKeyword(), '<em style="color:#d06000;font-weight:bold">' + sug.getKeyword() + '</em>')
		},
		uiItemNumber: 10,
		uiReferEl: '#sug-rel',
		dataHandler: function(sKey, oData, oThis) {
			if (oData.err == 'ok') {
				oThis._read(oData.r)
				//oThis._read(oArg.r.concat(oArg.r.slice(0)));
				oThis._prop.cache.pushCache(sKey, oData.r);
			}
		}
	});
	var multiKey = [];
	var cl = function() {
		if (multiKey.length > 2)
			return;
		var tx = sug.get('ui').get('textbox');
		var keyword = sug.getKeyword();
		if (keyword == '') return;
		sug._prop.ui.setTextboxValue('');
		sug._prop.ui.setKeyword('');
		var oEl = QW.$$(QW.Dom.create('<em class="multikey">' + keyword + '</em>'));
		multiKey.push(oEl);
		tx.insertSiblingBefore(oEl);
		tx.core.style.width = tx.get('offsetWidth') - oEl.get('offsetWidth') + 'px';
	};
	sug.on('enter', cl);
	sug.on('itemselect', cl);
	sug.on('backspace', function() {
		var keyword = sug.getKeyword();
		if (keyword == '') {
			if (multiKey.length > 0) {
				var tx = sug.get('ui').get('textbox');
				var oEl = multiKey[multiKey.length - 1];
				tx.core.style.width = tx.get('offsetWidth') + oEl.get('offsetWidth') + 'px';
				oEl.core.parentNode.removeChild(oEl.core);
				multiKey.length = multiKey.length - 1;
			}
		}
	})
	W('#ubw').on('submit', function() {
		var keyw = "";
		for (var i = 0, len = multiKey.length; i < len; i++) {
			keyw += multiKey[i].get('innerHTML') + ' ';
		}
		sug._prop.ui.setTextboxValue(keyw+sug.getKeyword());
	});
	


	var sug2 = new QW.Suggest({
		textbox: '#searchTextbox2',
		dataUrl: "http://youa.baidu.com/suggest/se/s?cmd=suggest&type=kwd&charset=utf-8&category=0",
		uiItemNumber: 10,
		uiReferEl: '#sug-rel2',
		dataHandler: function(sKey, oData, oThis) {
			if (oData.err == 'ok') {
				oThis._read(oData.r)
				//oThis._read(oArg.r.concat(oArg.r.slice(0)));
				oThis._prop.cache.pushCache(sKey, oData.r);
			}
		},
		uiRender:function(oData){
			return W(Dom.create('<li class="item"><a href="http://www.baidu.com" onmousedown="QW.EventH.stopPropagation(null, this);QW.EventH.preventDefault(null, this);" unselectable="on" target="_blank">sasa</a></li>'));
		},
		uiCaption: 'sddad'
	});


	
	var sug3 = new QW.Suggest({
		textbox: '#searchTextbox3',
		dataUrl: "http://bb-eb-mall-test03.bb01:8030/wantao/getSuggest?_of=json",
		uiItemNumber: 7,
		uiReferEl: '#sug-rel3',
		uiRender:function(oData){
			var display="";
			if(oData.sh_status == 1){  //已被认领
				display='已被认领';
			}else{ //完善资料
				display='完善资料';
			}
			return W(Dom.create('<li><div class="s-main"><div class="s-u"><a href="">'+oData.sh_name+'</a></div></div><div class="s-u"><a href="">'+display+'</a></div></li>'));
		}
	});
//]]>

</script>

</html>