
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>SelectAssist</title>
<link href="../../../apps/assets/base.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript" src="../../../apps/core_dom_pure.js"></script>
<script type="text/javascript" src="../../../components/tagassist/selectassist_area_zip.js"></script>
<script type="text/javascript">
var SelectAssist=QW.SelectAssist,
	$=QW.NodeH.$;
</script>
<style>
	select{width:150px;};
</style>

</head>
<body >
<div id="doc3">
	<div id=hd>
		SelectAssist示例: 地址级联（带邮编建议）。（由于邮编数据有19K左右，所以专门加了个带邮编数据的地址js）
	</div>
	<div id="bd" >
		<div class="section-ctn">
			<h3 class="section-hd">cascadeArea(地址级联)</h3>
			<div>
				<ul>
					<li>省市县联动(有初始值defaultValue)
						<select id="provT2" defaultValue="北京"><option value=""></option></select>
						<input type=button value="初始化" onclick="SelectAssist.cascadeArea({selects:['provT2','cityT2','countyT2']});this.disabled=true;">
						<select id="cityT2" defaultValue="北京市"><option value=""></option></select>
						<select id="countyT2" defaultValue="东城区" onchange="countyChange()"><option value=""></option></select>
					</li>
					<li>邮编：<input id="txtCode" size="10"><a href="#" id="codeTip" style="color:#999;" onclick="$('txtCode').value=this.getAttribute('zipCode');return false"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="ft">
		QW
	</div>
</div>
<script>
function countyChange(){
	var zipCode=SelectAssist["AREAS"]["COUNTY_ZIP"][$("cityT2").value+$("countyT2").value];
	if(zipCode){
		$("codeTip").innerHTML="根据我们的资料，"+$("cityT2").value+$("countyT2").value+"的邮政编码为<strong style='color:blue;'>"+zipCode+"</strong>";
		$("codeTip").setAttribute("zipCode",zipCode);
	}else{
		$("codeTip").innerHTML="";
		$("codeTip").setAttribute("zipCode","");
	}
}

</script>


</body>

</html>



