<?xml version="1.0" encoding="UTF-8"?>
<config>
	<info>
		<name>Tmpl</name>
		<author>JK</author>
		<version>0.1</version>
		<create-date></create-date>
		<last-modified></last-modified>
	</info>
	<examples>
		<example>
			<title>JS模板</title>
			<discription></discription>
			<url>Tmpl_Demo.htm</url>
			<image></image>
		</example>
	</examples>
</config>