<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>Jerry Qu's HTML document</title>
    <meta http-equiv="Pragma" content="no-cache" />  
    <meta http-equiv="Cache-Control" content="no-cache" />     
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="ImageToolbar" content="no" />
	<script type="text/javascript" src="main.js"></script>
    <style type="text/css" title="default" media="screen">
    /*<![CDATA[*/

    /*]]>*/
    </style>
    </head>
	<body>
		<h3>Scroll动画</h3>
		<div id="test" style="width:20em;height:6em;overflow:auto;border:1px solid #ccc;">
			<p>Sed pretium leo a quam. Sed placerat cursus odio. Duis varius mauris luctus enim. Sed augue. Vivamus malesuada pretium orci. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et ante. Praesent convallis. Pellentesque sit amet leo. Ut convallis. Curabitur tincidunt, ipsum facilisis ultricies bibendum, eros dolor venenatis odio, id rutrum purus sem ac sem. Donec vel enim. Quisque purus. Vivamus fringilla, nibh sit amet blandit suscipit, dui arcu viverra magna, id consectetuer dui orci tincidunt neque. Morbi eget libero. Phasellus tempor. Duis dapibus. Pellentesque nisi arcu, mollis in, euismod non, fermentum sit amet, neque.</p>
		</div><br /><br /><br />
		<input type="button" value="下翻" id="test1"/>
		<input type="button" value="回到顶部" id="test2"/>
		<script type="text/javascript">
			//anim3
			var Scroll = QW.ScrollAnim,
				Anim = QW.Anim,
				Dom = QW.Dom,
				NodeW = QW.NodeW,
				$ = Dom.$,
				$$ = QW.$$;
			window.onload = function(){
				//addEventlistener
				$("test1").onclick = function(){
					var anim1 = new Scroll($("test"), {
						"scrollTop" : {
							by : 80
						}
					}, 500);

					anim1.play();
				};
				$("test2").onclick = function(){
					var anim2 = new Scroll($("test"), {
						"scrollTop" : {
							to : 0
						}
					}, 2000, Anim.Easing.easeBothStrong);

					anim2.play();
				};
			};
		</script>
	</body>
</html>
