<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Drag demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<script type="text/javascript" src="../../../apps/core_dom_retouched.js"></script>
<script type="text/javascript" src="../dragdrop.js"></script>
<style type="text/css">
.proxy-dragging, .proxy-dragging { display:block!important; }
.proxy-dragover, .proxy-dragover { filter:alpha(opacity=30);opacity:0.3 }

.drag-proxy { position:absolute;width:100px;height:100px;background-color:#F4F4F4;border:#ccc 1px dashed; display:none; z-index:9999; }
</style>
</head>
<body>

<table width="600" height="200" border="1">
	<tr>
		<td>1</td>
		<td>2</td>
		<td>3</td>
	</tr>
</table>

<iframe src="inner.htm"></iframe>
<div id="drag1" style="position:absolute;width:100px;height:100px;background-color:#F4F4F4;border:#ccc 1px solid;">
drag1
</div>
<div id="drag1-proxy" class="drag-proxy">
drag1-proxy
</div>

<div id="drag2" style="position:absolute;width:100px;height:100px;background-color:#F4F4F4;border:#ccc 1px solid;">
drag2
</div>
<div id="drag2-proxy" class="drag-proxy">
drag2-proxy
</div>
<script type="text/javascript">//<![CDATA[
void function () {
//加一个proxy属性
	var d = new QW.SimpleDrag(
		{ target : QW.Dom.query("td"), withProxy : true }
		, [
			{ source : QW.$('drag1'), proxy : QW.$('drag1-proxy') }
			, { source : QW.$('drag2') }
		]
	);

	d.ondragenter = function (e) {
		QW.Dom.setStyle(e.context.target, 'background-color', '#F00');
	};

	d.ondragover = function (e) {
		if (e.context.previousTarget && e.context.previousTarget != e.context.target) {
			QW.Dom.setStyle(e.context.previousTarget, 'background-color', 'transparent');
		}
		e.context.previousTarget = e.context.target;
		QW.Dom.setStyle(e.context.target, 'background-color', '#F00');
	};


	d.ondragleave = function (e) {
		QW.Dom.setStyle(e.context.target, 'background-color', 'transparent');
	};

	d.ondragdrop = function (e) {
		alert('dragdrop');
	};

	d.oninvaliddrop = function (e) {
		alert('invaliddrop');
	};
}();
//]]></script>
</body>
</html>