<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>DragDrop demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<style type="text/css">
.proxy-dragging { display:block!important; }

.drag-proxy { position:absolute;width:100px;height:100px;background-color:#F4F4F4;border:#ccc 1px dashed; display:none; z-index:9999; }
</style>
</head>
<body>
<div id="drag1" style="position:absolute;width:100px;height:100px;background-color:#F4F4F4;border:#ccc 1px solid;">
drag1
</div>
<script type="text/javascript">//<![CDATA[
void function () {
	var d = new parent.QW.SimpleDrag(
		{ window : window, document : document, withProxy : true }
		, { source : parent.QW.$('drag1', document) }
	);

	d.ondragstart = function (e) {
		//parent.QW.Dom.hide(e.target.source);
	};

	d.ondragend = function (e) {
		parent.QW.Dom.setXY(e.target.source, e.position.pageX, e.position.pageY);
		//parent.QW.Dom.show(e.target.source);
	};

	d.ondragdrop = function (e) {
		alert('dragdrop');
	};

	d.oninvaliddrop = function (e) {
		alert('invaliddrop');
	};
}();
//]]></script>
</body>
</html>